<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="red.lisgar.biblioteca">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Biblioteca_nomostrar">
        <activity
            android:name=".usuario.UsuPrestarLibroActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminAgregarLibroActivity"
            android:exported="false" />
        <activity
            android:name=".usuario.UsuLeerLibroActivity"
            android:exported="false" />
        <activity
            android:name=".usuario.UsuMiLibroActivity"
            android:exported="false" />
        <activity
            android:name=".usuario.UsuLibrosDisponiblesActivity"
            android:exported="false" />
        <activity
            android:name=".usuario.UsuMisLibrosActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminLibroHistorialActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminLibrosPrestadosActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminActualizarLibroActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminLibrosDisponiblesActivity"
            android:exported="false"
            android:theme="@style/Theme.Biblioteca_nomostrar" />
        <activity
            android:name=".login.SigninActivity"
            android:exported="false"
            android:theme="@style/Theme.Biblioteca_nomostrar" />
        <activity
            android:name=".login.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Biblioteca_nomostrar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>